
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic);

/**
 * All colors for our shipyard theme.
 */
$black: #151B25;
$verydarkblue: #202833;
$darkblue: #2D3A4C;
$blue: #2D405B;
$lightblue: #354F6E;
$highlightblue: #DCECFF;
$verylightblue: #F5F7F8;
$white: #FFFFFF;

$red: #9E1F1F;
$lightred: #C13131;
$darkred: #731616;

$green: #4F9E1F;
$lightgreen: #80C131;
$darkgreen: #367316;

$yellow: #EBD500;
$lightyellow: #EEEA2F;
$darkyellow: #C39A0E;

$verylightgrey: #F7F7F7;
$lightgrey: #E3E3E3;
$notsolightgrey: #D4D4D4;
$grey: #AFAFAF;
$darkgrey: #444444;

/**
 * All layout variables.
 */

$max-width: em(1600);
$cube: 50px;

@mixin responsive-cube($property, $factor: 1) {

  #{$property}: $cube/5 * $factor;

  @include media($break-small) {
    #{$property}: $cube/3 * $factor;
  }

  @include media($break-medium) {
    #{$property}: $cube/2 * $factor;
  }

  @include media($break-large) {
    #{$property}: $cube * $factor;
  }
}

/**
 * Breakpounts.
 */
$break-small: new-breakpoint(min-width 480px 4);
$break-medium: new-breakpoint(min-width 800px 12);
$break-large: new-breakpoint(min-width 1024px 12);

/**
 * Animation.
 */
$speed-default: 0.3s;

/**
 * Font definitions.
 */
$font-family: "Fira Sans", sans-serif;
$font-size: 1em;
$font-weight: 200;
$line-height: 150%;

/**
 * Headline font-size & styles.
 */
$font-size-big: 6em;
$font-size-h1: 3.5em;
$font-size-h2: 2em;
$font-size-h3: 1.5em;
$font-size-h4: 1.3em;
$font-size-h5: 1.1em;
$font-size-h6: 0.8em;

$font-size-small: 0.7em;
$fon-size-bigger: 1.2em;

$line-height-headline: 120%;

@mixin headline-size($size) {
  @if($size > 1) {

    font-size: $size/4 + 0.75;

    @include media($break-small) {
      font-size: $size/2 + 0.5;
    }

    @include media($break-medium) {
      font-size: $size/1.4 + 0.3;
    }

    @include media($break-large) {
      font-size: $size;
    }
  } @else {
    font-size: $size;
  }
}

@mixin headline-margin-bottom($size) {
  @if($size > 1) {

    margin-bottom: $size/4 + 0.75;

    @include media($break-small) {
      margin-bottom: $size/2 + 0.5;
    }

    @include media($break-medium) {
      margin-bottom: $size/1.4 + 0.3;
    }

    @include media($break-large) {
      margin-bottom: $size;
    }
  } @else {
    margin-bottom: $size;
  }
}
