<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Shipyard</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/shipyard.css">


  <script src="js/config.js"></script>
  <script src="lib/requirejs/require.js" data-main="js/main.js"></script>

</head>
<body ng-controller="MainCtrl">


  <!-- left slide out menu -->
  <snap-drawer ng-if="user.loggedin">
    <nav class="shipyard-nav" ng-cloak>
      <ul>
        <li ng-repeat="resource in resources">
          <button ng-class="resource.active ? 'current' : ''" ng-click="navigate('GET', resource)">
            <span class="block-icon {{resource.icon}}"></span> {{resource.name}}
          </button>
        </li>
      </ul>
    </nav>
  </snap-drawer>



  <!-- main content area -->
  <snap-content>
    <!-- header -->
    <section class="shipyard-section-header" ng-if="user.loggedin" ng-cloak>

      <div class="float-left">
        <button snap-toggle class="block-icon ion-navicon" ng-class="snapperOpen ? 'active' : ''" title="Toggle"></button>
      </div>

      <div class="float-right">
        <button ng-click="navigate('PUT', 'user', user.id)" class="block-icon ion-ios7-person" title="Logout"></button>
        <button ng-click="logout()" class="block-icon ion-ios7-minus-outline" title="Logout"></button>
      </div>
    </section>

    <!-- main content -->
    <section class="shipyard-section-main" ng-if="user.loggedin" ng-cloak>
      <div ng-view ng-cloak></div>
    </section>
  </snap-content>



  <!-- login -->
  <section class="shipyard-section-login" ng-if="!user.loggedin" ng-cloak>

    <form class="shipyard-login">
      <h1 class="big"><span class="icon ion-ios7-analytics"></span></h1>
      <input placeholder="Username" ng-model="user.username" type="text" />
      <input placeholder="Passwort" ng-model="user.password" type="password" />
      <button ng-click="login()" class="icon ion-ios7-checkmark-outline shipyard-animate" ng-if="user.username.length > 0 && user.password.length > 0" title="Login"></button>
    </form>
  </section>

</body>
</html>
