
.black { color: $black; }
.verydarkblue { color: $verydarkblue; }
.darkblue { color: $darkblue; }
.blue { color: $blue; }
.lightblue { color: $lightblue; }
.highlightblue { color: $highlightblue; }
.verylightblue { color: $verylightblue; }
.white { color: $white; }

.red { color: $red; }
.lightred { color: $lightred; }
.darkred { color: $darkred; }

.green { color: $green; }
.lightgreen { color: $lightgreen; }
.darkgreen { color: $darkgreen; }

.yellow { color: $yellow; }
.lightyellow { color: $lightyellow; }
.darkyellow { color: $darkyellow; }

.verylightgrey { color: $verylightgrey; }
.lightgrey { color: $lightgrey; }
.notsolightgrey { color: $notsolightgrey; }
.grey { color: $grey; }
.darkgrey { color: $darkgrey; }
