
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea, text-angular {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  box-shadow: none;
  outline: none;
  color: $black;
  line-height: 100%;
  border: 1px solid $lightgrey;
  background: none;
  font-size: 1.5em;
  display: block;

  @include placeholder {
    color: $grey;
  }

  &.ng-dirty.ng-invalid {
    border-color: $lightred;
  }
}

.form-error {
  background: $lightred;
  padding: $cube/10 $cube/5;
  color: $white;
  font-size: 0.8em;
  font-weight: normal;
}

select {
  min-width: 25%;
}

.form-controls {
  height: auto;
  line-height: 100%;

  input[type="checkbox"], input[type="radio"] {
    margin: 0;
    font-size: 20px;
    display: inline-block;
  }

  label {
    text-transform: none;
    font-size: 0.7em;
    font-weight: normal;
    color: $black;
    display: inline-block;
    margin: 0 $cube/5 0 0;
    color: $lightgrey;
  }
}

textarea, text-angular .ta-scroll-window > .ta-bind {
  resize: vertical;
  font-size: 14px;
  height: 300px;
  line-height: 180%;
  padding: $cube/3;

  p {
    margin-bottom: $cube/4;
  }
}

text-angular {
  min-height: 300px;
  height: auto;
  overflow: auto;
  padding: 0;

  &.ta-root {
    &.focussed {
      .ta-scroll-window.form-control {
        box-shadow: none;
        border: none;
      }

      .ta-bind {
        outline: none;
      }
    }

    .ta-bind {
      b { font-weight: bold; }
      i { font-style: italic; }

      h1, h2, h3, h4, h5, h6 {
        margin-top: $cube * (4/5);
      }
    }
  }

  .ta-toolbar, .popover {

    border-bottom: 1px solid $lightgrey;

    .btn-group {
      display: inline-block;
      border-right: 1px solid $lightgrey;
    }

    button {
      background: none;
      color: $grey;
      padding: $cube/5 $cube/4;
      text-align: center;
      height: auto;
      font-weight: normal;
      font-size: 12px;
      margin: 0;
      border: none;

      &:hover {
        color: $blue;
      }

      &:active, &.active {
        background: $lightblue;
        color: $white;
      }
    }
  }

  .popover {
    position: absolute;
    display: none;
    box-shadow: 0 0 $cube/4 - $cube/10 $lightgrey;
    border: none;

    &.in {
      display: block;
    }

    .btn-group {
      &:last-child {
        border-right: none;
      }
    }
  }

  .ta-editor {
    padding: $cube/5;
    outline: none;
  }
}

label {
  text-transform: uppercase;
  font-size: $font-size-h6;
  font-weight: normal;
}
