
table {
  width: 100%;
  border-top: 1px solid tint($lightblue, 10%);
  position: relative;

  thead {
    background: $lightblue;
    color: $white;

    th {
      height: $cube * (4/5);
      line-height: $cube * (4/5);
      text-align: left;
      padding: 0 $cube/4;
      cursor: pointer;
      position: relative;
      font-weight: normal;

      &.sort-desc, &.sort-asc {

        padding: 0 $cube/4 0 $cube/2;

        &:before {
          display: inline-block;
          font-family: "Ionicons";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          content: "\f281";
          position: absolute;
          right: auto;
          left: $cube/4;
          top: 0;
          bottom: 0;
          line-height: $cube * (4/5);
          font-size: $fon-size-bigger;
        }
      }

      &.sort-asc {
        &:before {
          content: "\f27e";
        }
      }
    }

    tr {
      &.ng-table-filters {
        @include transform(translateY(-15px));
      }
    }

    input[type="text"] {
      border: none;
      border-bottom: 1px solid $darkblue;
      width: 80%;
    }
  }

  tbody {
    tr {

      &:nth-child(2n) {
        background: $verylightblue;
      }

      &:hover {
        background: $highlightblue;
      }

      td {
        line-height: $line-height;
        text-align: left;
        padding: $cube/5 $cube/4;
        cursor: pointer;
        font-weight: normal;
        font-size: 0.9em;
        color: $darkgrey;
        position: relative;
      }
    }
  }
}

.shipyard-table {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: $cube;
  @extend %container;

  .toggle-filter {
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      background: none;
    }
  }
}
