
.boolean-true,
.boolean-false {
  &:before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f16e";
    line-height: $cube;
    font-size: 1.5em;
    color: $green;
  }
}

.boolean-false {
  &:before {
    color: $red;
    content: "\f2bc";
  }
}
