
#shipyard-content {
  font-family: 'Open Sans';
  font-weight: 100;
  font-style: normal;
  position: fixed;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 0;
  padding-top: 30px;
  overflow: auto;

  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-out);

  @include breakpoint($break-small) {
    left: 320px;
    padding-top: 60px;
  }

  h1 {
    font-size: 3.5em;
    margin: 0;
    font-weight: 100;
  }

  h1 + * {
    margin-top: 0;
  }

  #shipyard-logout {
    font-size: 0.8em;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;

    @include breakpoint($break-small) {
      top: 20px;
      right: 20px;
    }

    margin: 0;
    padding: 0;
    color: #4A4A4A;
    opacity: 0.7;
    @include transition-property(opacity);
    @include transition-duration(0.1s);
    @include transition-timing-function(ease-out);

    &:hover {
      opacity: 1;
    }
  }
}
