
.snap-content {
  overflow: hidden;
  background: $verylightgrey;

  .shipyard-section-main {
    height: 100%;
    overflow: auto;
  }
}
.snap-drawer {
  background: $black;
  width: 250px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
