
.shipyard-nav {
  width: 250px;

  button {
    background: none;
    width: 100%;
    padding: 0;
    text-align: left;
    line-height: $cube;

    &.current, &.current:hover {
      background: $blue;
    }

    &:hover {
     background: $verydarkblue;
    }

    .block-icon {
      disable: block;
      float: left;

      &:hover {
        background: none;
      }
    }
  }
}
