
%form {
  @include outer-container();
  margin-top: $cube;
  margin-bottom: $cube;
  padding: 0 $cube/2;

  input[type="text"], textarea {
    width: 100%;
  }

  %group {
    margin-bottom: $cube/2;
  }
}
