
%form {
  @include outer-container();
  margin-top: $cube;
  margin-bottom: $cube;
  padding: 0 $cube/2;
  overflow: hidden;
  position: relative;

  input[type="text"], textarea {
    width: 100%;
  }
}

%field-group {
  height: $cube * (4/5);
  position: relative;
  border: 1px solid $lightgrey;
  line-height: $cube * (4/5);

  label {
    float: left;
    height: $cube * (4/5);
    line-height: $cube * (4/5);
    color: $grey;
  }

  input, select {
    margin: 0;
    padding: 0;
  }

  input {
    position: absolute;
    left: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    line-height: $cube * (4/5);
    font-size: $font-size;
    border: none;
  }
}
