
%intro {
  background-color: $white;
  padding: $cube 0;
  margin-bottom: $cube;
  border-bottom: 1px solid $lightgrey;

  %actions {
    @include responsive-cube(margin-top, 0.5);
    padding-top: $cube/5;

    button, input {
      background: none;
      border: 1px solid $white;
      color: $white;
    }

    %filter {
      button {
        border: none;
      }
    }
  }
}
