
/**
 * Login.
 * Define styles of the login form.
 */
%login {
  @include outer-container();
  max-width: 500px;
  @include responsive-cube(padding-top, 2);
  text-align: center;
  color: $white;
  position: relative;

  h1, h2, h3, h4, h5, h6, h1.big {
    color: $white;
  }

  input {
    @include fill-parent();
    border: none;
    border-bottom: 1px solid $verydarkblue;
    @include headline-size(2.5em);
    color: $white;
    @include responsive-cube(margin-top);

    @include placeholder {
      color: $verydarkblue;
    }
  }

  button {
    position: absolute;
    right: 0;
    bottom: -6px;
    width: $cube;
    height: $cube;
    line-height: $cube;
    color: $white;
    @include headline-size(2.5em);
    @include ng-animate($speed-default);

    @include media($break-small) {
      bottom: 0;
    }

    @include media($break-large) {
      bottom: 7px;
    }

    &:hover, &:active {
      background: none;
    }
  }
}
