
/**
 * Topbar.
 * The topbar is the main bar at the very top of the document. Containing all
 * action buttons.
 */
%topbar {
  width: 100%;
  height: $cube;
  background: $verydarkblue;
  color: $white;
}
